@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;1,100&display=swap');



body{
    background-color: #171e24;
}


h1{
    color: rgb(245, 245, 245);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*position: fixed;*/
    text-align: center;
    font-size: 2cm

    

}

h2{
    color: rgb(113, 252, 252);
    text-align: ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1cm;
    margin-left: 1.5cm;
    
}

h3{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}


#header{
    width: 100%;
    height: 30px
    margin-top: ;
}

div{
    align-items: center;
}

#avatars{
    background: #171e24;
    width: auto;
    margin: 0 auto;
    margin-left: 60px;
    margin-right: 50px;
}
