@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;1,100&display=swap');


body{
    background-color: #171e24;
}


h1{
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;

    /*align-items: center;*/

}

.header__superior{
    width: 100%;
    margin-top: ;
}

div{
    align-items: center;
}
